---
---

<script>
    const navBtn = document.querySelector('.nav-btn');
    const btnSvg = document.querySelectorAll('.nav-btn svg');
    const header = document.querySelector('header');
    navBtn.addEventListener('click', e => {
        header.classList.toggle('menu-open');
        btnSvg.forEach(svg => svg.classList.toggle('hidden'));
    })
</script>
<nav class="main-nav">

    <ul class="nav-main-page">
        <li><a href="/">Accueil</a>
        <li><a href="/">Le parcours</a>            
    </ul>
    <span>Les insectes</span>
    <ul class="nav-bug-page">
        <li><a href="/la-coccinelle">La coccinelle</a>
        <li><a href="/la-coccinelle">L'abeille</a>
        <li><a href="/la-coccinelle">L'araignée crabe</a>
        <li><a href="/le-gendarme">Le gendarme</a>
        <li><a href="/la-coccinelle">La libellule</a>
        <li><a href="/la-coccinelle">Le mille-pattes</a>
        <li><a href="/la-coccinelle">Le papillon</a>
        <li><a href="/la-coccinelle">Le scarabée</a>
    </ul>
</nav>

<style>
    .main-nav {
        transition: all 0.2s ease-in;
        /*transition: max-height 0.1s ease-in;*/
        padding: 0 1rem;
        margin: 0 -1rem;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.5;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        /*transform: scaleY(0);*/
        transform-origin: 0 0;
        opacity: 0;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        pointer-events: none;
    }
    .main-nav ul {
        display: flex;
        gap: 1rem;
    }
    .main-nav ul.nav-bug-page {
        flex-wrap: wrap;
    }
    .main-nav ul.nav-bug-page li {
        flex-basis: 20%;
    }

    .main-nav ul li {
        flex-grow: 1;
        padding: .5rem;
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: hue-rotate(50deg);
        transition: all 0.4s ease-in;
        white-space: nowrap;
    }
    .main-nav ul li:hover {
        backdrop-filter: hue-rotate(180deg);
    }
    .main-nav a {
        text-decoration: none;
        color: #fff;
    }
    .main-nav span {
        margin-top: 1rem;
        display: block;
        font-size: 1.75rem;
    }

    :global(.menu-open) .main-nav {
        /*transform: scaleY(1);*/
        opacity: 1;
        padding: 1rem;
        pointer-events: all;
    }
</style>