---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Partner from '../components/Partner.astro';

import Lena from '../images/lena.jpg';
import Blandine from '../images/blandine.jpg';
import bienvenue from '../images/bienvenue.jpg';
import IntroImg from '../images/nature_2.jpg';
---

<Layout title="Les petites bêtes en ville">
	<main>
		

		<Project title="Bienvenue !" imgUrl={bienvenue.src}>
<p>
	Plongez au cœur de la biodiversité urbaine avec <strong>"Les Petites Bêtes en Ville"</strong> , <strong>une exposition immersive</strong>  et <strong>une balade captivante</strong>  entre les quartiers Flers Bourg et Pont de Bois à Villeneuve d'Ascq. 
<br>Découvrez un monde fascinant où la nature s'épanouit au milieu du béton, et laissez-vous surprendre par la richesse insoupçonnée de la faune locale.
Parcourez les chemins pour rencontrer des créatures étonnantes, des insectes aux couleurs chatoyantes, et apprenez à les connaître pour mieux vivre en leur compagnie.
</p>
<p>
L'exposition contient <strong>huit affiches disposées le long des chemins</strong> et forme une balade de 3 km entre le square Georges Brassens et La Ferme d'en Haut.
Ces affiches représentent les insectes qui peuplent nos espaces verts et que vous pouvez retrouver à proximité.
</p>
<p>
Pour vous aider à faire cette balade, une <strong>carte interactive</strong>  est à votre disposition dans la rubrique <a href="https://les-petites-betes-en-ville.netlify.app/le-parcours/"> le parcours</a>  sur ce site. Vous pourrez y retrouver tous les points d'affichage et l'itinéraire pour vous y rendre.
<br>
Tout le long du chemin, un marquage au sol a également été mis en place. Si vous voyez le logo comme sur la photo, c'est que vous êtes sur le bon chemin.
</p>
<p>Nous vous souhaitons une agréable balade et espérons que vous passerez un agréable moment à la rencontre de ces petites bêtes qui peuplent nos espaces verts. </p>

		</Project>
		
		<Project title="Découvrez le projet" imgUrl={IntroImg.src} direction="right">
			<p>
Le projet <strong>"Les petites bêtes en ville”</strong> émerge de la collaboration entre le service culture, <strong>la Ferme d'en Haut</strong>, et divers acteurs impliqués dans la biodiversité, la jeunesse, l'éducation à l'environnement et les arts. S'inscrivant dans une démarche transversale et pédagogique, cette initiative vise à sensibiliser les habitants de <strong>Villeneuve d'Ascq</strong> aux enjeux du développement durable à travers la culture.
</p>
<p>
Les petites bêtes en ville est une exposition hors les murs créée entre le Square Georges Brassens dans le quartier Pont de Bois et la Ferme d'en Haut dans le quartier Flers Bourg. 
Elle contient huit affiches disposées le long des chemins et forme une balade de 3 km.
Ses affiches représentent les insectes qui peuplent nos espaces verts et que vous pouvez retrouver à proximité.
</p>
<p>
Les affiches ont été pensées par <strong>les jeunes habitants</strong> et familles de Villeneuve d'Ascq côtoyant les structures périscolaires (CAL Bossuet, Centre social centre ville, CAL Chaplin) qui ont d'abord exploré la nature avec une entomologiste <strong>Léna Polin</strong>. Ils ont ensuite choisi les petites bêtes et fait des recherches à leurs propos. Pour enfin retransmettre au mieux les choses les plus importantes à retenir. 
</p>
<p>
Les informations récoltées par les participants ont ensuite été transmises à une illustratrice <strong>Blandine Villain</strong> qui a créé ces affiches à partir de ce contenu.
L'endroit où seront ensuite posées ces affiches a été pensé et réfléchi avec <strong>les membres des services espaces verts et développement durable</strong> qui ont appuyé ce projet de leur expertise technique de terrain permettant un parcours fluide et faisable en toute sécurité.
<br>
C'est ainsi qu'est née l'exposition “Les petites bêtes en ville”, d'une collaboration entre un grand nombre de personnes qui vous permettra de vivre un moment agréable, culturel, ludique et pédagogique en plein air. Vous laisant l'opportunité de faire cette balade à votre rythme et de jouer les explorateurs à votre tour.
</p>
		</Project>
		
		<Partner 
		name="Blandine Villain #Paillettes graphiques" 
		img={Blandine.src}
		linkText="Le site de Blandine"
		linkUrl="https://paillettesgraphiques.fr/">
		
			Je me présente ?<br>
			Moi c'est <strong>Blandine</strong>, j'ai 37 ans et depuis toute petite, j'étais destinée à devenir graphiste illustratrice je crois. Parce que déjà je créais, j'inventais des histoires, je créais des cabanes, et je dessinais. Beaucoup. Alors c'est tout naturellement que je me suis orientée vers des études créatives : BAC STI Arts Appliqués puis BTS Communication Visuelle à l'ESAAT de Roubaix.<br>
			Plus tard, après quelques années en ayant la double casquette de graphiste et responsable marketing, j'ai décidé de quitter mon emploi pour redonner du sens à mon métier. Un an plus tard, j'ai décidé de me recentrer sur ce qui me plait vraiment : l'accompagnement, la créativité et le conseil ! A cet effet, je suis devenue graphiste illustratrice à mon compte, et j'ai créé Paillettes graphiques !

	</Partner>
	
	<Partner 
	direction="right"
	name="Lena Polin #Scarabète" 
	img={Lena.src}
	linkText="Le site de Lena"
	linkUrl="https://www.instagram.com/scarabete/?hl=fr">

		Que ce soit la guêpe qui vient manger ton steak au barbecue, la coccinelle sur tes fleurs, ta feuille de salade mangée par une chenille, ou même le cafard qui passe en vitesse dans ta cuisine, tu es constamment entouré d'insectes !<br>
		Moi, c'est <strong>Léna</strong>, j'ai 28 ans, je suis vidéaste et entomologiste, et je suis derrière le compte Scarabête !<br>
		Sur mes chaînes Instagram, YouTube et TikTok, je fais découvrir le monde incroyablement riche des insectes, et je t'explique pourquoi il faut absolument qu'on s'y intéresse plus. En vrai, c'est super fun, car il y a plein d'anecdotes étonnantes, et parfois même vraiment chelou. Je pourrais continuer en te parlant d'histoire, d'archéologie, de biologie, de sociologie, de cuisine, voire même de jeux vidéos et de littérature, par exemple. Mais je te propose plutôt d'aller jeter un œil à mes vidéos ! :)

</Partner>

</main>
</Layout>

<style>
	
</style>
