---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Partner from '../components/Partner.astro';
---

<Layout title="Les petites bêtes en ville">
	<main>
		
		
		<Project title="Découvrez le projet" />
		
		<Partner 
		name="Blandine Villain" 
		img="https://picsum.photos/301/301"
		linkText="Le site de Blandine"
		linkUrl="#">
		
			Je me présente ?<br>
			Moi c’est <strong>Blandine</strong>, j’ai 37 ans et depuis toute petite, j'étais destinée à devenir graphiste illustratrice je crois. Parce que déjà je créais, j'inventais des histoires, je créais des cabanes, et je dessinais. Beaucoup. Alors c'est tout naturellement que je me suis orientée vers des études créatives : BAC STI Arts Appliqués puis BTS Communication Visuelle à l'ESAAT de Roubaix.<br>
			Plus tard, après quelques années en ayant la double casquette de graphiste et responsable marketing, j’ai décidé de quitter mon emploi pour redonner du sens à mon métier. Un an plus tard, j’ai décidé de me recentrer sur ce qui me plait vraiment : l’accompagnement, la créativité et le conseil ! A cet effet, je suis devenue graphiste illustratrice à mon compte, et j'ai créé Paillettes graphiques !

	</Partner>
	
	<Partner 
	direction="right"
	name="Lena Polin" 
	img="https://picsum.photos/300/300"
	linkText="Le site de Lena"
	linkUrl="#">

		Que ce soit la guêpe qui vient manger ton steak au barbecue, la coccinelle sur tes fleurs, ta feuille de salade mangée par une chenille, ou même le cafard qui passe en vitesse dans ta cuisine, tu es constamment entouré d'insectes !<br>
		Moi, c'est <strong>Léna</strong>, j'ai 28 ans, je suis vidéaste et entomologiste, et je suis derrière le compte Scarabête !<br>
		Sur mes chaînes Instagram, YouTube et TikTok, je fais découvrir le monde incroyablement riche des insectes, et je t'explique pourquoi il faut absolument qu'on s'y intéresse plus. En vrai, c'est super fun, car il y a plein d'anecdotes étonnantes, et parfois même vraiment chelou. Je pourrais continuer en te parlant d'histoire, d'archéologie, de biologie, de sociologie, de cuisine, voire même de jeux vidéos et de littérature, par exemple. Mais je te propose plutôt d'aller jeter un œil à mes vidéos ! :)

</Partner>

</main>
</Layout>

<style>
	
</style>
