---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Partner from '../components/Partner.astro';
---

<Layout title="Les petites bêtes en ville">
	<main>
		

		<Project title="Découvrez le projet" />

		<Partner 
			name="Blandine Villain" 
			img="https://picsum.photos/640/350"
			linkText="Le site de Blandine"
			linkUrl="#">
			Le texte à Blandine
		</Partner>

		<Partner 
			name="Lena Polin" 
			img="https://picsum.photos/640/340"
			linkText="Le site de Lena"
			linkUrl="#">
			Le texte a Lena
		</Partner>

	</main>
</Layout>

<style>

</style>
