---
import Layout from '../layouts/Layout.astro';
import Creature from '../components/Creature.astro';
import Viewer from '../components/animal/Viewer.astro';
import Superpower from '../components/animal/Superpower.astro';
import Drawings from '../components/animal/Drawings.astro';


import BugImage1 from '../images/abeille/abeille_1.jpg';
import BugImage2 from '../images/abeille/abeille_2.jpg';
import BugImage3 from '../images/abeille/abeille_3.jpg';
import Poster from '../images/coccinelle/coccinelle_3d_preview.png';

import KidsDrawing1 from '../images/abeille/kids_drawings/abeille_1_Océane.jpg';
import KidsDrawing2 from '../images/abeille/kids_drawings/abeille_2_Inaya.jpg';
import KidsDrawing3 from '../images/abeille/kids_drawings/abeille_3_Joseph.jpg';
import KidsDrawing4 from '../images/abeille/kids_drawings/abeille_4_naila.jpg';


---

<Layout title="L'abeille solitaire'">
  <main>
    
    <Creature
    title="L'abeille solitaire"
    latinName="Andrena"
    img={BugImage1.src}
    img2={BugImage2.src}
    img3={BugImage3.src}
    quotes="Les points sur leur dos révèlent leur espèce, pas leur age"
    >
    <p slot="bug-intro-start">Les abeilles solitaires, contrairement aux abeilles sociales comme l'abeille domestique, ne vivent pas en colonies. Chaque femelle construit et approvisionne son propre nid, souvent dans des tunnels creusés dans le sol, du bois ou des tiges creuses. Il existe plus de 20 000 espèces d'abeilles solitaires dans le monde, représentant la majorité des espèces d'abeilles.
    <br>Ces abeilles sont des pollinisateurs très efficaces, jouant un rôle crucial dans la pollinisation de nombreuses plantes sauvages et cultivées. Les mégachiles et les osmies, par exemple, sont essentielles pour la pollinisation de cultures alimentaires comme les pommes, les amandes et les tomates. Les femelles pondent des œufs dans des cellules individuelles, qu'elles approvisionnent avec du pollen et du nectar avant de les sceller.
    </p>
    <p>Les abeilles solitaires varient en taille, couleur et forme. Certaines sont petites et brillantes, d'autres velues et robustes. Malgré cette diversité, elles ont en commun des structures spécialisées pour la collecte de pollen et un comportement de nidification solitaire. Les mâles ne participent pas à la construction du nid et vivent seulement pour se reproduire.
    <br>Généralement dociles et non agressives, les abeilles solitaires n'ont pas de colonies ou de reines à défendre. Elles consacrent leur énergie à la recherche de nourriture et à la construction de nids plutôt qu'à des comportements défensifs. Cela les rend particulièrement adaptées pour coexister avec les humains et être utilisées dans les programmes de pollinisation agricole.
    </p>
    
    
    <Viewer 
    slot="viewer"
    alt="L'abeille"
    src="/cocinnelle.glb"
    environmentImg="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg/1920px-PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg"
    poster={Poster.src}
    />

    <Superpower
      slot="superpower"
      power1={{
        title:"Pollinisatrice", 
        text:"Elle collecte du nectar et du pollen des fleurs, facilitant ainsi la reproduction des plantes."
      }}
      power2={{
        title:"Non-agressive", 
        text:"Sans colonies à défendre, les abeilles solitaires sont dociles, idéales pour polliniser près des habitations."
      }}
      power3={{
        title:"Adaptabilité de nidification", 
        text:"Les abeilles solitaires nidifient dans divers substrats, des sols meubles aux tiges creuses"
      }}
    />

    <Drawings
      slot="drawings"
      drawings={[
        KidsDrawing1.src,
        KidsDrawing2.src,
        KidsDrawing3.src,
        KidsDrawing4.src
        ]}
    ></Drawings>
    
  </Creature>
  
  
  
</main>
</Layout>