---
import Layout from '../layouts/Layout.astro';
import Creature from '../components/Creature.astro';
import Viewer from '../components/animal/Viewer.astro';
import Superpower from '../components/animal/Superpower.astro';
import Drawings from '../components/animal/Drawings.astro';


import BugImage1 from '../images/coccinelle/coccinelle_1.png';
import BugImage2 from '../images/coccinelle/coccinelle_2.jpg';
import BugImage3 from '../images/coccinelle/coccinelle_3.jpg';
import Poster from '../images/coccinelle/coccinelle_3d_preview.png';

import KidsDrawing1 from '../images/coccinelle/kids_drawings/coccinelle_celeste.jpg';
import KidsDrawing2 from '../images/coccinelle/kids_drawings/coccinelle_clemence_1.jpg';
import KidsDrawing3 from '../images/coccinelle/kids_drawings/coccinelle_clemence_2.jpg';
import KidsDrawing4 from '../images/coccinelle/kids_drawings/coccinelle_elliot.jpg';
import KidsDrawing5 from '../images/coccinelle/kids_drawings/coccinelle_Erine.jpg';
import KidsDrawing6 from '../images/coccinelle/kids_drawings/coccinelle_salsabil.jpg';

---

<Layout title="La coccinelle">
  <main>
    
    <Creature
    title="La coccinelle"
    latinName="Coccinella septempunctata"
    img={BugImage1.src}
    img2={BugImage2.src}
    img3={BugImage3.src}
    quotes="Les points sur leur dos révèlent leur espèce, pas leur age"
    >
    <p slot="bug-intro-start">Les coccinelles, également appelées "bêtes à bon Dieu" ou "demoiselles", sont des coléoptères dotés de deux paires d'ailes, avec une variété de plus de 3 000 espèces dans le monde. Leur cycle de vie fascinant commence par la ponte stratégique des œufs près des colonies de pucerons, suivie de l'éclosion des larves qui se nourrissent voracement de ces insectes. Après plusieurs stades de croissance et mues, les larves se métamorphosent en nymphes, puis émergent en tant qu'adultes. Les coccinelles adultes se nourrissent principalement de pucerons mais peuvent également consommer du pollen, du nectar, et d'autres insectes. Elles chassent les pucerons en adoptant des stratégies similaires à celles de leurs proies.</p>
    <p>Pour survivre, les coccinelles hivernent dans divers abris naturels tels que des tas de feuilles ou des crevasses. Elles jouent un rôle crucial dans les jardins en régulant les populations de pucerons et en contribuant à la pollinisation. Cependant, elles sont confrontées à des défis tels que la concurrence des fourmis et la prédation par d'autres insectes et animaux. Les coccinelles sont menacées par les pesticides et la perte d'habitat due à l'urbanisation. Pour favoriser leur présence, il est recommandé de ne pas éliminer manuellement les pucerons, de fournir des plantes riches en pollen et nectar, de favoriser la diversité végétale, d'aménager des sites d'hivernage, et même de construire des abris spécifiques pour les coccinelles. En agissant ainsi, vous contribuez à maintenir un équilibre écologique favorable à ces précieux insectes bénéfiques.</p>
    
    
    <Viewer 
    slot="viewer"
    alt="La coccinelle"
    src="/cocinnelle.glb"
    environmentImg="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg/1920px-PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg"
    poster={Poster.src}
    />

    <Superpower
      slot="superpower"
      power1={{
        title:"Prédation des pucerons", 
        text:"Les coccinelles régulent les pucerons en les dévorant, maintenant l'équilibre dans les jardins."
      }}
      power2={{
        title:"Rôle de pollinisation", 
        text:"En plus de manger des pucerons, les coccinelles pollinisent les plantes en butinant les fleurs."
      }}
      power3={{
        title:"Capacité de survie", 
        text:"Les coccinelles survivent à l'hiver en trouvant des abris, assurant leur retour au printemps pour protéger les plantes."
      }}
    />

    <Drawings
      slot="drawings"
      drawings={[
        KidsDrawing1.src,
        KidsDrawing2.src,
        KidsDrawing3.src,
        KidsDrawing4.src,
        KidsDrawing5.src,
        KidsDrawing6.src
        ]}
    ></Drawings>
    
  </Creature>
  
  
  
</main>
</Layout>