---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Partner from '../components/Partner.astro';

import Lena from '../images/lena.jpg';
import Blandine from '../images/blandine.jpg';
---

<Layout title="Les petites bêtes en ville">
	<main>
		
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1zubUaXJuG9ZSszoytUizBBIC7F0n5pM&ehbc=2E312F&noprof=1" id="maps"></iframe>	

	</main>
</Layout>

<style lang="scss">
	#maps {
		margin: 0 .5rem;
		width: calc(100% - 1rem);
		aspect-ratio: 2/3;
	}
</style>
