---
interface Props {
  imgUrl: string;
	title: string;
	direction?: "left"|"right";
}

const { title,imgUrl, direction = "left" } = Astro.props;
---

<section class={`project-${direction}`}>
  <h2 class="bug-title">{title}</h2>
  <div>
    <img loading="lazy" src={imgUrl} alt="" class="round-shadow" width="2048" height="1424">
    <div>
      <slot>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget sem eget nulla laoreet consequat. Maecenas nulla tellus, bibendum ut risus sed, porttitor viverra tortor. Maecenas rhoncus, diam at rhoncus aliquam, metus sem tristique enim, quis auctor odio diam rutrum turpis. Sed eget interdum ante. Morbi luctus nunc condimentum, dignissim turpis vitae, cursus ex. Vestibulum est ex, ultricies at nibh in, mollis cursus tellus. Fusce vel purus ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent convallis tristique elementum. Cras eget suscipit libero. Nulla purus nibh, pharetra vel consectetur et, volutpat a metus. Aliquam id luctus mi, non cursus libero. Vivamus suscipit dignissim lorem sed dictum. 
      </slot>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    margin-bottom: 2rem;
  }
  div:after {
    content: "";
    display: block;
    clear: both;
  }
  img {
    max-width: 40%;
    height: auto;
    float: left;
    margin: 0 2rem 1rem 0;
    object-fit: cover;    
  }
  .project-right {
    img {
      float: right;
      margin: 0 0 1rem 2rem;
    }
  }
  @media (max-width: 768px) {
    div {
      display: block;
    }
    p, img {
      width: 100%;
      max-width: 100%;
    }
  }
</style>